In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://xueshandai:Xueshandai123$@localhost:5432/xueshandai')

In [4]:
src_member=pd.read_sql_table('member', engine)

In [3]:
member_inner_src=pd.read_sql_table('member_inner', engine)

In [ ]:
member_id_card_info = pd.read_sql_table('member_id_card_info', engine)

In [ ]:
# todo 
member_inner
member_
2017年底待收
2018年投资金额
2018

In [259]:
store['member']=member

/var/www/jupyter/venv/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2963: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->['real_name', 'uname', 'username', 'email', 'reg_time', 'reg_ip', 'last_login_time']]

  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
xxx=pd.read_csv('/tmp/xxx.txt',sep='\t')

In [ ]:
# store

In [5]:
store = pd.HDFStore('/var/www/data/store.h5')

In [239]:
store.open()

In [301]:
store.close()

In [6]:
store.keys()

[]

In [302]:
print(store.info())

<class 'pandas.io.pytables.HDFStore'>
File path: /var/www/data/store.h5
File is CLOSED

In [ ]:
# member

In [7]:
member_h5 = pd.HDFStore('/var/www/data/member.h5')

In [8]:
print(member_h5.info())

<class 'pandas.io.pytables.HDFStore'>
File path: /var/www/data/member.h5
/member            frame        (shape->[943592,14])

In [31]:
member_h5.open()

In [34]:
member_h5.close()

In [28]:
member_h5['member'] = member

/var/www/jupyter/venv/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2963: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block2_values] [items->['real_name', 'uname', 'username', 'email', 'reg_time', 'reg_ip', 'last_login_time', 'birthday', 'gender', 'mobile', 'idcard']]

  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
# 处理过程

In [9]:
member_h5['member'].head()

,id,real_name,uname,username,email,is_admin,reg_time,reg_ip,last_login_time,birthday,gender,mobile,idcard,is_inner
0,1,雪山帐户,,雪山贷账户,xueshandai@163.com,True,2013-05-22 17:00:35,127.0.0.1,2013-07-02 13:30:19,NaN,NaN,13900000000,123,0
1,2,雪山管理员,,xueshandai_admin,xueshandai_admin@163.com,True,2013-05-22 17:00:35,127.0.0.1,2018-06-20 17:07:38,NaN,NaN,13148473531,1234,0
2,3,,华华,华华,swy115@sina.com,False,2013-03-11 17:51:11,58.246.192.226,2017-09-19 10:10:07,NaN,NaN,NaN,NaN,0
3,4,None,,@qq_金玉玲299,None,False,2013-03-11 17:52:40,58.246.192.226,None,NaN,NaN,NaN,NaN,0
4,5,朱文浩,撒旦,撒旦,996031728@qq.com,False,2013-03-11 17:57:15,58.246.192.226,2017-05-15 13:32:15,None,None,18769071212,421182198910255615,0

In [14]:
member=member_h5['member'][['id','mobile','idcard']]

In [16]:
member.to_sql('tmp_member_card', if_exists='replace',index=False, con=engine)

In [15]:
member.head()

   id       mobile              idcard
0   1  13900000000                 123
1   2  13148473531                1234
2   3          NaN                 NaN
3   4          NaN                 NaN
4   5  18769071212  421182198910255615

In [ ]:
result = pd.merge(left,right,how='left', left_on='left_id',right_on='right_id',validate ='1:1')

In [27]:
member.count()

id                 943592
real_name          656085
uname              943592
username           943592
email               62814
is_admin           943592
reg_time           943587
reg_ip             942713
last_login_time    936691
birthday           642107
gender             642115
mobile             909063
idcard             645526
is_inner           943592
dtype: int64

In [26]:
member[member.id==980723].T

                              928271
id                            980723
real_name                         华栋
uname                        nethuad
username             xsd_18019351993
email                           None
is_admin                       False
reg_time         2018-02-11 13:22:03
reg_ip                 101.90.253.84
last_login_time  2018-08-09 16:34:37
birthday                  1979-03-26
gender                             男
mobile                   18019351993
idcard            320222197903260811
is_inner                           0

In [7]:
del member_inner['uname']

In [8]:
member_inner['is_inner']=1

In [9]:
member_inner

    member_id  is_inner
0       26812         1
1       29597         1
2       22348         1
3       29490         1
4       29495         1
5       31033         1
6       22457         1
7      279385         1
8       89600         1
9       84595         1
10      84608         1
11      84603         1
12      85203         1
13      11282         1
14      15600         1
15      85356         1
16      22444         1
17      22462         1
18      84593         1
19      30514         1
20      22538         1
21      29187         1
22      31094         1
23      85357         1
24      85207         1
25      22372         1
26      22369         1
27      84599         1
28      22367         1
29      85204         1
..        ...       ...
36      85200         1
37      85199         1
38      84596         1
39      22345         1
40      22571         1
41      85219         1
42      89601         1
43      84610         1
44      24523         1
45      29600         1
46      25054         1
47      30517         1
48        131         1
49      30265         1
50      85220         1
51      31073         1
52      85218         1
53      29761         1
54      85358         1
55      25055         1
56      22804         1
57      22539         1
58      30357         1
59      85201         1
60      25053         1
61      26249         1
62      85209         1
63      26260         1
64      25936         1
65      29696         1

[66 rows x 2 columns]

In [10]:

result = pd.merge(member,member_inner,how='left', left_on='id',right_on='member_id',validate ='1:1')

In [ ]:
result.sum()

In [12]:
del result['member_id']

In [13]:
result['is_inner'] = result['is_inner'].fillna(0)

In [14]:
result[result.is_inner==1]

,id,real_name,uname,username,email,is_admin,reg_time,reg_ip,last_login_time,birthday,gender,mobile,idcard,is_inner
127,131,韩书文,shanzi,shanzi,2572350051@qq.com,False,2013-03-14 13:18:37,58.246.192.226,2018-08-12 13:31:10,1983-07-20,男,18999987778,522622198307201693,1.0
2149,11282,徐熙真,ceshi123,ceshi123,2772875554@qq.com,False,2013-10-17 10:32:09,58.246.208.122,2018-07-13 18:22:02,1978-02-10,女,18000000000,421022197802106202,1.0
6464,15600,马中伟,chang1234,chang1234,1402154681@qq.com,False,2013-11-21 19:33:10,58.246.208.122,2018-08-03 13:07:14,1974-08-05,女,18999888444,469039197408058144,1.0
13200,22345,彭桢国,mmxxmm,mmxxmm,2993398579@qq.com,False,2014-04-19 14:40:37,58.246.208.122,2018-07-14 09:32:32,1986-11-26,男,18001110011,150602198611264772,1.0
13201,22346,汤玉涛,kqqbb112,kqqbb112,2321748399@qq.com,False,2014-04-19 14:51:40,58.246.208.122,2018-07-17 19:33:58,None,None,17050980544,445122199508017016,1.0
13202,22347,贾丹琴,lingda,lingda,2268412928@qq.com,False,2014-04-19 15:01:48,58.246.208.122,2018-08-09 13:14:55,None,None,18111112229,211402198204134205,1.0
13203,22348,樊韩博,699996,699996,1984127493@qq.com,False,2014-04-19 15:11:28,58.246.208.122,2018-08-10 13:11:09,1976-07-23,男,18777888889,141182197607235038,1.0
13222,22367,胡苑,immqqq,immqqq,1317235099@qq.com,False,2014-04-19 16:37:29,58.246.208.122,2018-08-12 13:30:24,1982-03-13,男,18988899972,522200198203131432,1.0
13224,22369,宦苗,helili,helili,wuliaoxsd@163.com,False,2014-04-19 16:48:03,58.246.208.122,2018-08-09 13:53:16,1968-04-25,女,18944455577,431301196804258308,1.0
13227,22372,廖付元,gundan,gundan,dfmzwu@163.com,False,2014-04-19 16:53:10,58.246.208.122,2018-08-05 12:25:10,1977-04-07,男,18944455588,130205197704076892,1.0
13298,22444,于寄翠,dfmzliao,dfmzliao,dfmzliao@163.com,False,2014-04-19 18:54:04,58.246.208.122,2018-08-09 13:27:52,1977-04-03,女,18799887777,230707197704038304,1.0
13311,22457,戈修平,afyjnui,afyjnui,3041930787@qq.com,False,2014-04-19 19:00:42,58.246.208.122,2018-08-09 13:11:05,1967-03-08,女,19999988887,370785196703083061,1.0
13316,22462,章新锁,efmzmen,efmzmen,dfmzmen@163.com,False,2014-04-19 19:03:57,58.246.208.122,2018-08-12 13:46:02,1981-02-03,男,18999888877,41022519810203967X,1.0
13392,22538,杨恒,fmzmen,fmzmen,dfmztian@163.com,False,2014-04-20 08:35:37,58.246.208.122,2018-08-12 13:44:01,1981-01-21,男,18999988888,310104198101219838,1.0
13393,22539,孔凝珍,vmzshi,vmzshi,dfmzshi@163.com,False,2014-04-20 08:54:45,58.246.208.122,2018-08-12 13:48:32,1990-05-04,男,15714943584,310105199005041292,1.0
13425,22571,郑月,ofmzhui,ofmzhui,dfmzhui@163.com,False,2014-04-20 11:37:03,58.246.208.122,2018-08-12 13:34:09,1963-06-06,女,18209044042,410502196306066728,1.0
13657,22804,为继,ufmzse,ufmzse,dfmzse@163.com,False,2014-04-21 10:46:43,58.246.208.122,2018-08-01 12:58:11,1967-12-03,女,19999888877,640323196712032244,1.0
15374,24523,鲁帅,pobobobo,pobobobo,gdfgadf111@163.com,False,2014-04-27 13:43:22,58.246.208.122,2018-08-12 13:29:31,1968-01-16,男,18912345678,230203196801169712,1.0
15903,25053,喻俊哲,wwwcom,wwwcom,dfmzde@163.com,False,2014-04-29 13:01:34,58.246.208.122,2018-08-10 13:09:17,1980-01-25,男,18999988874,610724198001257895,1.0
15904,25054,邵恒靳,rrrwww,rrrwww,qazxcveeeee@163.com,False,2014-04-29 13:02:36,58.246.208.122,2018-08-09 13:52:34,1973-08-16,女,18997778877,35052619730816614X,1.0
15905,25055,姜采文,tttwww,tttwww,edcrfvbbb@163.com,False,2014-04-29 13:03:14,58.246.208.122,2018-08-07 14:05:01,1963-08-18,男,14444477778,120000196308188674,1.0
16784,25936,喻孜晗,zui008,zui008,jfspaoijoaf@163.com,False,2014-05-02 12:07:38,58.246.208.122,2018-08-01 13:19:57,1986-01-25,男,19898989899,410108198601251454,1.0
17095,26249,充翻嘉,xyuedd,xyuedd,lajfdojfnzavn@163.com,False,2014-05-03 14:17:52,58.246.208.122,2018-08-09 13:54:56,1979-02-11,男,18999977711,411329197902110451,1.0
17106,26260,郑爱红,yyqqcc,yyqqcc,djijfaoijof@163.com,False,2014-05-03 14:27:42,58.246.208.122,2018-08-06 09:17:17,1974-09-21,男,19988877766,410822197409210215,1.0
17658,26812,窦德茂,36asdf,36asdf,plmoknzzzz@163.com,False,2014-05-05 09:15:15,122.143.27.211,2018-08-11 22:19:12,1987-02-20,男,18999988875,150303198702202091,1.0
20024,29187,吴水凡,gdafa1,gdafa1,gdafawfgbz@163.com,False,2014-05-19 21:16:30,58.246.208.122,2018-07-31 15:06:22,1981-12-24,女,18999000777,150205198112242867,1.0
20327,29490,冯新荣,9iu159,9iu159,dgzgerzbzsv@163.com,False,2014-05-25 17:25:25,58.246.208.122,2018-07-14 20:28:06,1971-01-24,男,16586596565,522723197101243297,1.0
20332,29495,孔恒三,Coput2,Coput2,sgshrxbtxb@126.com,False,2014-05-25 18:52:42,58.246.208.122,2018-08-12 13:50:15,1987-03-13,男,17700290434,152502198703138630,1.0
20434,29597,窦志红,5222558,5222558,dbzredbz@163.com,False,2014-05-26 19:52:31,58.246.208.122,2018-08-08 14:14:23,1987-08-06,男,12586455556,451224198708063916,1.0
20437,29600,杨乐意,regist,regist,dfxbhstr@163.com,False,2014-05-26 20:31:54,58.246.208.122,2018-08-05 12:34:54,1983-08-08,女,18044854584,350601198308081069,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21354,30517,赵海云,setgzth,setgzth,setgzthr@163.com,False,2014-06-07 16:31:06,58.246.208.122,2018-07-31 15:17:16,1985-08-23,女,15781004944,440901198508232667,1.0
21870,31033,曹得天,HF2009,HF2009,jdazfiiln@163.com,False,2014-06-16 21:41:44,58.246.208.122,2018-08-09 13:12:58,1989-04-11,男,15650900198,440901198904114494,1.0
21910,31073,李龙岩,sovzakr,sovzakr,nsovzakrgnle@163.com,False,2014-06-17 13:18:30,58.246.208.122,2018-08-05 16:45:43,1984-03-25,男,18000012211,44090119840325427X,1.0
21931,31094,胡明明,gfserz,gfserz,fdgfserzgr@163.com,False,2014-06-17 14:47:33,58.246.208.122,2018-08-06 09:13:38,1972-09-19,男,18777799999,440901197209192090,1.0
74995,84593,刘钱龙,enheng,enheng,metoo3789@163.com,False,2015-05-22 09:23:27,58.247.0.166,2018-08-01 13:06:15,1971-03-16,男,18000220000,371202197103164615,1.0
74997,84595,钱云蔚,backing,backing,stayat5689@163.com,False,2015-05-22 09:42:31,58.247.0.166,2018-07-31 15:11:28,1979-09-15,女,18000720100,451025197909152801,1.0
74998,84596,张学芳,minihh,minihh,enheng346@163.com,False,2015-05-22 09:44:31,58.247.0.166,2018-08-03 13:06:30,1988-08-08,女,18121220100,110101198808087625,1.0
75000,84598,李会芝,liangmi,liangmi,enheng889@163.com,False,2015-05-22 09:49:49,58.247.0.166,2018-08-05 14:02:54,1988-08-08,女,18000220150,110101198808080984,1.0
75001,84599,陈向东,huangse,huangse,stang5689@163.com,False,2015-05-22 09:54:42,58.247.0.166,2018-08-12 13:43:25,1971-10-13,男,18101110000,330724197110130410,1.0
75004,84602,陈向锋,langqun,langqun,toyou5689@163.com,False,2015-05-22 10:01:48,58.247.0.166,2018-08-06 13:41:26,1978-10-28,男,18000111001,330726197810281714,1.0
75005,84603,周志义,baobaobei,baobaobei,shaone561@163.com,False,2015-05-22 10:04:19,58.247.0.166,2018-08-09 13:56:55,1974-07-14,男,18000111003,330722197407144511,1.0
75010,84608,陈德刚,badyou,badyou,could5689@163.com,False,2015-05-22 10:51:18,58.247.0.166,2018-08-06 13:45:49,1974-09-06,男,18000011104,330725197409060011,1.0
75012,84610,王志忠,pangzi,pangzi,cannot5689@163.com,False,2015-05-22 11:09:50,58.247.0.166,2018-08-12 13:42:31,1964-02-28,男,13210181041,330719196402282517,1.0
75601,85199,陈东林,mahugu,mahugu,candy8956@163.com,False,2015-05-25 09:16:24,58.247.0.166,2018-08-06 09:11:30,1963-12-27,男,18000011105,330721196312274419,1.0
75602,85200,李金明,lizhi1,lizhi1,whynot7895@163.com,False,2015-05-25 09:20:49,58.247.0.166,2018-08-05 14:03:35,1962-03-11,男,18000011106,332521196203116914,1.0
75603,85201,李健,whynot,whynot,cannot8989@163.com,False,2015-05-25 09:24:16,58.247.0.166,2018-08-05 16:47:04,1973-08-07,男,18000111107,330702197308073214,1.0
75605,85203,应远新,buyong,buyong,bybus5689@163.com,False,2015-05-25 09:30:09,58.247.0.166,2018-08-01 13:23:49,1950-11-22,男,18000111108,330722195011223417,1.0
75606,85204,陈东川,kasfei,kasfei,bunch889@163.com,False,2015-05-25 09:32:50,58.247.0.166,2018-08-10 13:30:21,1976-10-25,男,18000011109,330726197610252935,1.0
75609,85207,周忠弟,gongxi,gongxi,waitby5237@163.com,False,2015-05-25 09:35:40,58.247.0.166,2018-08-10 13:30:58,1944-05-23,男,18000011009,330719194405235573,1.0
75611,85209,陈小桥,yanzheng,yanzheng,hairto8989@163.com,False,2015-05-25 09:39:25,58.247.0.166,2018-08-10 13:20:57,1955-12-18,男,18346051435,332625195512187210,1.0
75620,85218,赵坤,suchasyou,suchasyou,billto5889@163.com,False,2015-05-25 10:04:45,58.247.0.166,2018-07-14 09:34:21,None,None,17040980404,450302197405031017,1.0
75621,85219,李锦斌,okbeng,okbeng,found5689@163.com,False,2015-05-25 10:09:57,58.247.0.166,2018-08-10 13:12:50,1970-11-26,男,18000111015,330724197011261132,1.0
75622,85220,陈小莲,songhua,songhua,planedy5689@163.com,False,2015-05-25 10:12:37,58.247.0.166,2018-08-07 14:02:31,1964-11-15,女,18000111012,330725196411150089,1.0
75757,85356,李江强,coldmm,coldmm,notbad5689@163.com,False,2015-05-26 09:17:01,58.247.0.166,2018-08-06 09:31:07,1979-09-22,男,18220144019,330724197909221110,1.0
75758,85357,李金德,girl88,girl88,fully5678@163.com,False,2015-05-26 09:19:16,58.247.0.166,2018-08-09 13:26:54,1975-10-20,男,18000111017,330722197510200817,1.0
75759,85358,梁嘉俊,tomorrow,tomorrow,herry5689@163.com,False,2015-05-26 09:22:02,58.247.0.166,2018-07-30 13:57:35,1993-03-03,男,17082633590,440105199303031219,1.0
75761,85360,程晓燕,legtwo,legtwo,hotboy5689@163.com,False,2015-05-26 09:25:46,58.247.0.166,2018-07-31 15:17:56,1962-01-07,女,18000111125,330722196201070022,1.0
79997,89600,李杰新,babynan,babynan,heipang001@163.com,False,2015-07-20 17:32:40,58.246.208.122,2018-05-30 11:34:41,1960-02-06,男,18000111011,330722196002062134,1.0
79998,89601,王中庆,onemee,onemee,baipang002@163.com,False,2015-07-20 17:33:38,58.246.208.122,2018-07-14 09:35:26,1951-01-02,男,18000011122,330724195101020018,1.0
269077,279385,陈欢,ancl326,xsd_13118865634,None,False,2016-12-07 15:13:05,58.246.208.122,2018-07-17 19:35:09,None,None,15922510054,450300198501232033,1.0

In [20]:
result['is_inner']=result['is_inner'].astype('int64')

In [22]:
result[result.is_inner==1].id

127          131
2149       11282
6464       15600
13200      22345
13201      22346
13202      22347
13203      22348
13222      22367
13224      22369
13227      22372
13298      22444
13311      22457
13316      22462
13392      22538
13393      22539
13425      22571
13657      22804
15374      24523
15903      25053
15904      25054
15905      25055
16784      25936
17095      26249
17106      26260
17658      26812
20024      29187
20327      29490
20332      29495
20434      29597
20437      29600
           ...
21354      30517
21870      31033
21910      31073
21931      31094
74995      84593
74997      84595
74998      84596
75000      84598
75001      84599
75004      84602
75005      84603
75010      84608
75012      84610
75601      85199
75602      85200
75603      85201
75605      85203
75606      85204
75609      85207
75611      85209
75620      85218
75621      85219
75622      85220
75757      85356
75758      85357
75759      85358
75761      85360
79997      89600
79998      89601
269077    279385
Name: id, Length: 66, dtype: int64

In [23]:
result.dtypes

id                  int64
real_name          object
uname              object
username           object
email              object
is_admin             bool
reg_time           object
reg_ip             object
last_login_time    object
birthday           object
gender             object
mobile             object
idcard             object
is_inner            int64
dtype: object

In [25]:
member=result.copy()