In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql://xueshandai:Xueshandai123$@localhost:5432/xueshandai')

In [16]:
# 文件太大
member=pd.read_sql_table('flag_member_all', engine)

In [36]:
# from flag_member a 
# left outer join flag_capital b1 on a.member_id=b1.member_id
# left outer join flag_invest b2 on a.member_id=b2.member_id
# left outer join capital_history_1w_ip_city b3 on a.member_id=b3.member_id

member = pd.read_sql_table('flag_member', engine)
capital = pd.read_sql_table('flag_capital', engine)
invest = pd.read_sql_table('flag_invest', engine)
capital_history_1w_ip_city = pd.read_sql_table('capital_history_1w_ip_city', engine)

In [41]:
member['referrer_id']=member['referrer_id'].fillna(0).astype('int64')
# member['invest_times']=member['invest_times'].fillna(0).astype('int64')
invest['invest_times_2016']=invest['invest_times_2016'].fillna(0).astype('int64')
invest['invest_times_2017']=invest['invest_times_2017'].fillna(0).astype('int64')
invest['invest_times_2018']=invest['invest_times_2018'].fillna(0).astype('int64')

In [44]:
member.dtypes

member_id           int64
real_name          object
uname              object
username           object
email              object
reg_time           object
reg_ip             object
last_login_time    object
is_admin            int64
is_deleted          int64
is_inner            int64
is_identify         int64
identify_time      object
referrer_id         int64
mobile             object
idcard             object
region             object
birthdate          object
gender             object
dtype: object

In [49]:
member[member.member_id==980723].T

                              767026
member_id                     980723
real_name                         华栋
uname                        nethuad
username             xsd_18019351993
email                           None
reg_time         2018-02-11 13:22:03
reg_ip                 101.90.253.84
last_login_time  2018-08-09 16:34:37
is_admin                           0
is_deleted                         0
is_inner                           0
is_identify                        1
identify_time    2018-02-11 13:58:47
referrer_id                    41400
mobile                   18019351993
idcard            320222197903260811
region                        320222
birthdate                 1979-03-26
gender                             男

In [26]:
member2=member.copy()

In [34]:
member2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943885 entries, 0 to 943884
Data columns (total 37 columns):
member_id              943885 non-null int64
real_name              656190 non-null object
uname                  943885 non-null object
username               943885 non-null object
email                  62814 non-null object
reg_time               943880 non-null object
reg_ip                 943006 non-null object
last_login_time        936984 non-null object
is_admin               943885 non-null int64
is_deleted             943885 non-null int64
is_inner               943885 non-null int64
is_identify            943885 non-null int64
identify_time          505206 non-null object
referrer_id            943885 non-null int64
mobile                 908593 non-null object
idcard                 645102 non-null object
region                 501474 non-null object
birthdate              501474 non-null object
gender                 501474 non-null object
capital_max_his        31267 non-null float64
capital_max_2016       12465 non-null float64
capital_max_2017       21087 non-null float64
capital_max_2018cur    9172 non-null float64
capital_20161231       3240 non-null float64
capital_20171231       7258 non-null float64
capital_20180731       4448 non-null float64
invest_times           943885 non-null int64
invest_capital         31267 non-null float64
invest_times_2016      943885 non-null int64
invest_capital_2016    12486 non-null float64
invest_times_2017      943885 non-null int64
invest_capital_2017    19850 non-null float64
invest_times_2018      943885 non-null int64
invest_capital_2018    4986 non-null float64
country                9092 non-null object
province               9092 non-null object
city                   943885 non-null object
dtypes: float64(11), int64(10), object(16)
memory usage: 266.4+ MB

In [ ]:
xxx=pd.read_csv('/tmp/xxx.txt',sep='\t')

In [ ]:
# member

In [52]:
member_h5 = pd.HDFStore('/var/www/data/member.h5')

In [58]:
print(member_h5.info())

<class 'pandas.io.pytables.HDFStore'>
File path: /var/www/data/member.h5
/capital                               frame        (shape->[31267,8])
/capital_history_1w_ip_city            frame        (shape->[9092,6])
/invest                                frame        (shape->[31267,9])
/member                                frame        (shape->[943885,19])

In [57]:
member_h5.open()

In [55]:
member_h5.close()

In [54]:
member_h5['member'] = member
member_h5['capital'] = capital
member_h5['invest'] = invest
member_h5['capital_history_1w_ip_city'] = capital_history_1w_ip_city

/var/www/jupyter/venv/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2963: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->['real_name', 'uname', 'username', 'email', 'reg_time', 'reg_ip', 'last_login_time', 'identify_time', 'mobile', 'idcard', 'region', 'birthdate', 'gender']]

  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
# 处理过程

In [17]:
member=member_h5['member']

In [16]:
member.to_sql('tmp_member_card', if_exists='replace',index=False, con=engine)

In [ ]:
result = pd.merge(left,right,how='left', left_on='left_id',right_on='right_id',validate ='1:1')

In [7]:
del member_inner['uname']

In [8]:
member_inner['is_inner']=1

In [10]:

result = pd.merge(member,member_inner,how='left', left_on='id',right_on='member_id',validate ='1:1')

In [ ]:
result.sum()

In [12]:
del result['member_id']

In [13]:
result['is_inner'] = result['is_inner'].fillna(0)

In [20]:
result['is_inner']=result['is_inner'].astype('int64')

In [23]:
result.dtypes

id                  int64
real_name          object
uname              object
username           object
email              object
is_admin             bool
reg_time           object
reg_ip             object
last_login_time    object
birthday           object
gender             object
mobile             object
idcard             object
is_inner            int64
dtype: object

In [25]:
member=result.copy()

In [ ]:
# 用户

drop table flag_member;
create table flag_member as 
select a.id as member_id
,a.real_name,a.uname,a.username,a.email
,reg_time,reg_ip,last_login_time
,case when is_admin then 1 else 0 end as is_admin
,case when is_deleted then 1 else 0 end as is_deleted
,case when b.member_id is not null then 1 else 0 end as is_inner
,case when i.member_id is not null then 1 else 0 end as is_identify
,date_identified as identify_time
,r.referrer_id
,case when c.mobile ~ '^1\d{10}$' then c.mobile else null end as mobile 
,case when c.idcard ~ '^(\d{15}|\d{17}[0-9xX])$' then c.idcard else null end as idcard
,mi.region,substring(mi.birthday from 1 for 10) as birthdate,mi.gender
from member a 
left outer join member_inner b on a.id=b.member_id
left outer join tmp_member_card c on a.id=c.id
left outer join member_id_card_info mi on a.id=mi.member_id
left outer join recommend r on a.id=r.member_id
left outer join member_identify i on a.id=i.member_id 
;

In [ ]:
#  最高待收和年底待收


# 需要剔除的投资客户
drop table member_xmgj_delete;
create table member_xmgj_delete as 
select a.member_id 
from member_xmgj_transfer a 
left outer join member_xmgj_zhaiquan b on a.member_id=b.payer_id
where b.payer_id is null
;

drop table tmp1;
create table tmp1 as 
select  investor_id as member_id,capital,d
from balance_investor_day_investortype a 
inner join flag_member b on a.investor_id = b.member_id
left outer join member_xmgj_delete c on a.investor_id=c.member_id
where b.is_admin=0 and b.is_deleted=0 and is_inner=0
and c.member_id is null
;


drop table flag_capital;
create table flag_capital as 
select a.member_id,capital_max_his
,capital_max_2016,capital_max_2017,capital_max_2018cur
,capital_20161231,capital_20171231,capital_20180731
from (
select member_id,max(capital) as capital_max_his
from tmp1 
group by member_id
) a 
left outer join (
select member_id,max(capital) as capital_max_2016
from tmp1 
where d<'2017-01-01'
group by member_id
) b1 on a.member_id=b1.member_id
left outer join (
select member_id,max(capital) as capital_max_2017
from tmp1 
where d>='2017-01-01' and d<'2018-01-01'
group by member_id
) b2 on a.member_id=b2.member_id
left outer join (
select member_id,max(capital) as capital_max_2018cur
from tmp1 
where d>='2018-01-01' and d<'2019-01-01'
group by member_id
) b3 on a.member_id=b3.member_id
left outer join (
select member_id,capital as capital_20161231
from tmp1 
where d='2016-12-31'
) b4 on a.member_id=b4.member_id
left outer join (
select member_id,capital as capital_20171231
from tmp1 
where d='2017-12-31'
) b5 on a.member_id=b5.member_id
left outer join (
select member_id,capital as capital_20180731
from tmp1 
where d='2018-07-31'
) b6 on a.member_id=b6.member_id
;

In [ ]:
# 投资分析


drop table tmp2;
create table tmp2 as 
select  investor_id as member_id,a.capital,a.date_created as d
from borrow_invest a 
inner join borrow br on a.borrow_id=br.id
where br.status in (4,5,6)
;

drop table tmp3;
create table tmp3 as
select a.*
from tmp2 a 
inner join flag_member b on a.member_id = b.member_id
left outer join member_xmgj_delete c on a.member_id=c.member_id
where b.is_admin=0 and b.is_deleted=0 and is_inner=0
and c.member_id is null
;

drop table flag_invest;
create table flag_invest as 
select a.member_id
,invest_times,invest_capital
,invest_times_2016,invest_capital_2016
,invest_times_2017,invest_capital_2017
,invest_times_2018,invest_capital_2018
from (
select member_id,count(1) as invest_times,sum(capital) as invest_capital
from tmp3 
group by member_id
) a 
left outer join (
select member_id,count(1) as invest_times_2016,sum(capital) as invest_capital_2016
from tmp3 
where d<'2017-01-01'
group by member_id
) b1 on a.member_id=b1.member_id
left outer join (
select member_id,count(1) as invest_times_2017,sum(capital) as invest_capital_2017
from tmp3 
where d>='2017-01-01' and d<'2018-01-01'
group by member_id
) b2 on a.member_id=b2.member_id
left outer join (
select member_id,count(1) as invest_times_2018,sum(capital) as invest_capital_2018
from tmp3 
where d>='2018-01-01' and d<'2019-01-01'
group by member_id
) b3 on a.member_id=b3.member_id
;

In [ ]:
# 历史最大待收1w以上的ip地理位置

drop table tmp_history_1w;
create table tmp_history_1w as 
select investor_id as member_id,capital_max
from (
select investor_id,max(capital) as capital_max
from balance_investor_day_investortype
where investor_type='outer'
group by investor_id
) a where capital_max>=10000
;


drop table tmp_history_1w_ip;
create table tmp_history_1w_ip as 
select a.*,b.ip
from tmp_history_1w a 
inner join member_last_signin_ip b on a.member_id=b.member_id
;

drop table capital_history_1w_ip_city;
create table capital_history_1w_ip_city as 
select a.*,b.country,b.region,b.city
from tmp_history_1w_ip a 
left outer join ip_map_city_cache b on a.ip=b.ip
;

select count(1) as c ,count(distinct member_id) as uv from capital_history_1w_ip_city;

In [ ]:
# 根据ip获取城市

drop table ip_to_map_province;
create table ip_to_map_province as 
select distinct ip
from tmp_history_1w_ip
;

python3 get_ip_province.py

-- 备份
create table ip_map_province_cache as 
select * 
from ip_do_map_province
;


drop table ip_list_todo;
create table ip_list_todo as 
select a.*
from ip_to_map_province a 
left outer join ip_map_city_cache b on a.ip=b.ip
where b.ip is null
;

drop table ip_list_todo;
create table ip_list_todo as 
select ip
from ip_do_map_province
where province='广东省'
;

python3 get_taobao_ip.py


drop table tmp1;
create table tmp1 as 
select ip
,json_extract_path_text(info::json,'data','country') as country
,json_extract_path_text(info::json,'data','region') as region
,json_extract_path_text(info::json,'data','city') as city
from ip_list_done;


# create table ip_map_city_cache as 
insert into ip_map_city_cache
select *
from tmp1
where city is not null
;

select count(1) as c ,count(distinct ip) as c2 from ip_map_city_cache;

drop table ip_list_todo;
create table ip_list_todo as 
select ip
from tmp1
where city is null
;

In [ ]:
# 合并数据
drop table if exists flag_member_all;
create table flag_member_all as 
select a.*
,capital_max_his,capital_max_2016,capital_max_2017,capital_max_2018cur,capital_20161231,capital_20171231,capital_20180731 
,invest_times,invest_capital,invest_times_2016,invest_capital_2016,invest_times_2017,invest_capital_2017,invest_times_2018,invest_capital_2018
,b3.country,b3.region as province,b3.city as city
from flag_member a 
left outer join flag_capital b1 on a.member_id=b1.member_id
left outer join flag_invest b2 on a.member_id=b2.member_id
left outer join capital_history_1w_ip_city b3 on a.member_id=b3.member_id
;

select count(1) as c ,count(distinct member_id) as uv from flag_member_all;

select pg_size_pretty(pg_relation_size('flag_member_all')

In [ ]:
# ab16
# 加密
# tar -czf - member.h5 | openssl enc -e -aes256 -out enc/member`date '+%Y%m%d'`.tar.gz

# 解密
# openssl enc -d -aes256 -in member`date '+%Y%m%d'`.tar.gz | tar -xz -C dec 

# 比较
# diff member.h5 dec/member.h5

# scp
# scp enc/member`date '+%Y%m%d'`.tar.gz  xxx@xxx:/var/www/xsd/data