In [2]:
import pandas as pd

In [16]:
f='/tmp/ip4.txt'

In [53]:
ipmap=pd.read_csv(f,sep=' ')

In [54]:
ipmap.head()

       ipv1      ipv2      ip1            ip2 country province
0         0  16777215  0.0.0.0  0.255.255.255    IANA      NaN
1  16777216  16777216  1.0.0.0        1.0.0.0      美国      NaN
2  16777217  16777217  1.0.0.1        1.0.0.1      美国      NaN
3  16777218  16777471  1.0.0.2      1.0.0.255      美国      NaN
4  16777472  16778239  1.0.1.0      1.0.3.255      中国      福建省

In [19]:
from sqlalchemy import create_engine

In [20]:
engine = create_engine('postgresql://xueshandai:Xueshandai123$@localhost:5432/xueshandai')

In [21]:
ip.to_sql('ip_store2', engine)

In [83]:
# 目标数据
member=pd.read_sql_table('tmp2', engine)

In [84]:
member.count()

investor_id     1397
capital         1397
ip              1397
lastsigntime    1397
dtype: int64

In [85]:
member['country']='test'
member['province']='test'

In [88]:
member.head(10)

,investor_id,capital,ip,lastsigntime,country,province
0,131,1695167.00,58.247.0.166,2018-08-05 14:19:23,test,上海市
1,170,700.00,124.128.111.30,2018-07-28 16:21:00,test,山东省
2,771,10000.00,117.136.62.57,2018-07-18 09:04:18,test,四川省
3,852,18900.00,101.229.121.110,2018-08-04 21:12:36,test,上海市
4,10031,1.00,58.247.0.166,2018-08-06 18:20:37,test,上海市
5,10609,1200.00,120.35.207.134,2018-08-03 21:33:08,test,福建省
6,10642,34.60,117.136.5.43,2018-07-03 20:01:02,test,辽宁省
7,10798,78.05,218.91.173.13,2018-07-15 19:46:48,test,江苏省
8,10889,2120.00,139.226.72.199,2018-07-31 13:47:08,test,上海市
9,10965,600.00,101.247.188.121,2018-08-06 14:48:23,test,山西省

In [80]:
def get_ip_value(ip):
    ip2 = ip.split('.')
    ipv = int(ip2[0])*256**3+int(ip2[1])*256**2+int(ip2[2])*256+int(ip2[3])
    return ipv

In [81]:
# 从内存的查询表中获取，效率较低
def findcountryprovince(ip):
    ipv = get_ip_value(ip)
    for index, row in ipmap.iterrows():
        if ipv>=row['ipv1'] and ipv<=row['ipv2']:
            return row['province']

In [108]:
# 直接从数据库查询，效率较高，
def findcountryprovince_from_db(ip):
    ipv = get_ip_value(ip)
    sql='select * from ip_store2 where ipv1<='+str(ipv)+' and ipv2>='+ str(ipv)
    data= pd.read_sql_query(sql, engine)
    if data.size>0:
        return data.loc[0,'province']
    else:
        return 'unknow'

In [96]:
sql='select * from ip_store2 where ipv1<=1083969063 and ipv2>=1083969063'
data= pd.read_sql_query(sql, engine)

In [100]:
data.size

0

In [105]:
findcountryprovince_from_db('64.156.14.39')

'unknow'

In [110]:
for k in member.index:
#     print(member.loc[k,'ip'])
    member.loc[k,'province']=findcountryprovince_from_db(member.loc[k,'ip'])
#     print(member.loc[k,'ip'],member.loc[k,'province'])
#     if k>10:
#         break

In [112]:
member.to_sql('tmp4', engine)

In [ ]:
member